In [1]:
numbers = [951,402,984,641,360,69,408,319,601,485,980,507,725,547]
numbers

[951, 402, 984, 641, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547]

In [6]:
numbers = [951,402,984,641,360,69,408,319,601,485,980,507,725,547,544,615,83,165,141,501,263,617,865,575,219,390,984,592,236,105,942,941,386,462,47,418,907,344,236,375,823,566,597,978,328,615,953,345,399,162,758,219,918,237,412,566,826,248,866,950,626,949]

for x in numbers:
        if x % 2 == 0:
            print(x)
            if x == 918:
                break
            else:
                pass        
    
print("Done")

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
Done

In [38]:
d= {'FOO' : 1, 'BAR' : 2, 'BAZ' : 3}
for k in d:
    print(k)
for k in d:
    print(d[k])
for v in d.values():
    print(v)

FOO
BAR
BAZ
1
2
3
1
2
3

In [47]:
for i in['foo', 'bar', 'baz', 'qux']:
    print(i)
    break
  else:
      print('Done')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [57]:
for i in['foo','bar','baz','qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo