In [4]:
import numpy as np
import sympy as sy

# PERIKSA APAKAH W ADALAH KOMBINASI LINEAR DARI V1 DAN V2

In [5]:
w = np.array([-4,5,4])

In [6]:
v1 = np.array([2,1,0])
v2 = np.array([1,3,2])

In [7]:
B = sy.Matrix([[2,1,-4],[1,3,5],[0,2,4]])

In [8]:
B.rref()

(Matrix([
 [1, 0, 0],
 [0, 1, 0],
 [0, 0, 1]]),
 (0, 1, 2))

Bisa diliat dari baris kanan terakhir

c1 = 0, c2 = 0, 0 = 1
Jadi tidak ada solusi karena 0 = 1

# JIKA T : V --> W, TRANSFORMASI LINEAR MAKA BUKTIKAN BAHWA T(-U) = -T(U)

In [12]:
u = np.array([2,3,4])
u

array([2, 3, 4])

In [14]:
T = np.array([2,5,5])

In [18]:
a = T*(-u)
b = -T*(u)

In [19]:
a

array([ -4, -15, -20])

In [20]:
b

array([ -4, -15, -20])

a = b, jadi bukti bahwa T(-u) = -T(u) SAMA