In [3]:
import sqlite3
import pandas as pd

In [4]:
df = pd.read_csv("courses.csv")
dg = pd.read_csv("assessments.csv", sep=";")
dh = pd.read_csv("studentInfo.csv", sep=",")
di = pd.read_csv("studentAssessment.csv", sep=",")
dj = pd.read_csv("studentRegistration.csv", sep=",")
dk = pd.read_csv("vle.csv", sep=",")

In [5]:
def create_connection(path):
    connection=sqlite3.connect(path)
    return(connection)

connection = create_connection("farand.sqlite")

In [6]:
#Query No select
def execute_command(conn,query):
    cur = conn.cursor()
    cur.execute(query)
    conn.commit()

In [1]:
#Query select
def select_query(conn,query):
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

# CEK INFO TIPE DATA

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_module                 22 non-null     object
 1   code_presentation           22 non-null     object
 2   module_presentation_length  22 non-null     int64
dtypes: int64(1), object(2)
memory usage: 656.0+ bytes

In [32]:
dg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code_module        206 non-null    object
 1   code_presentation  206 non-null    object
 2   id_assessment      206 non-null    int64
 3   assessment_type    206 non-null    object
 4   date               195 non-null    float64
 5   weight             206 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.8+ KB

In [33]:
dh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code_module           32593 non-null  object
 1   code_presentation     32593 non-null  object
 2   id_student            32593 non-null  int64
 3   gender                32593 non-null  object
 4   region                32593 non-null  object
 5   highest_education     32593 non-null  object
 6   imd_band              31482 non-null  object
 7   age_band              32593 non-null  object
 8   num_of_prev_attempts  32593 non-null  int64
 9   studied_credits       32593 non-null  int64
 10  disability            32593 non-null  object
 11  final_result          32593 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.0+ MB

In [34]:
di.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173912 entries, 0 to 173911
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_assessment   173912 non-null  int64
 1   id_student      173912 non-null  int64
 2   date_submitted  173912 non-null  int64
 3   is_banked       173912 non-null  int64
 4   score           173739 non-null  float64
dtypes: float64(1), int64(4)
memory usage: 6.6 MB

In [35]:
dj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   code_module          32593 non-null  object
 1   code_presentation    32593 non-null  object
 2   id_student           32593 non-null  int64
 3   date_registration    32548 non-null  float64
 4   date_unregistration  10072 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ MB

In [36]:
dk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364 entries, 0 to 6363
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_site            6364 non-null   int64
 1   code_module        6364 non-null   object
 2   code_presentation  6364 non-null   object
 3   activity_type      6364 non-null   object
 4   week_from          1121 non-null   float64
 5   week_to            1121 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 298.4+ KB

# CEK ADA YANG NULL ATAU TIDAK

In [37]:
df.isnull().sum()

code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

In [38]:
dg.isnull().sum()

code_module           0
code_presentation     0
id_assessment         0
assessment_type       0
date                 11
weight                0
dtype: int64

In [39]:
dh.isnull().sum()

code_module                0
code_presentation          0
id_student                 0
gender                     0
region                     0
highest_education          0
imd_band                1111
age_band                   0
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
dtype: int64

In [40]:
di.isnull().sum()

id_assessment       0
id_student          0
date_submitted      0
is_banked           0
score             173
dtype: int64

In [41]:
dj.isnull().sum()

code_module                0
code_presentation          0
id_student                 0
date_registration         45
date_unregistration    22521
dtype: int64

In [42]:
dk.isnull().sum()

id_site                 0
code_module             0
code_presentation       0
activity_type           0
week_from            5243
week_to              5243
dtype: int64

# MENGHAPUS BARIS YANG KOSONG

In [43]:
dg = dg.dropna(subset = ['date'])

In [44]:
dh = dh.dropna(subset = ['imd_band'])

In [45]:
di = di.dropna(subset = ['score'])

In [46]:
dj = dj.dropna(subset = ['date_registration'])
dj = dj.dropna(subset = ['date_unregistration'])

In [47]:
dk = dk.dropna(subset = ['week_from'])
dk = dk.dropna(subset = ['week_to'])

In [48]:
df = df.reset_index()
dg = dg.reset_index()
dh = dh.reset_index()
di = di.reset_index()
dj = dj.reset_index()
dk = dk.reset_index()

# CREATE AND INSERT

In [49]:
Q ='''
Create Table courses(
    code_module varchar(10),
    code_presentation varchar(15),
    module_presentation_length integer(10)
    );
'''

execute_command(connection,Q)

In [50]:
for i in range(len(df)): #EXECUTE HARUS DIDALAM KARENA AKAN DIEXECUTE SECARA BERULANG
    inputt1 = '''
    INSERT INTO courses
    (code_module, code_presentation, module_presentation_length)
    VALUES ('{}','{}',{})
'''.format(df['code_module'][i], df['code_presentation'][i] , df['module_presentation_length'][i])
    execute_command(connection,inputt1)

In [51]:
Q ='''
Create Table assessments(
    code_module varchar(10),
    code_presentation varchar(15),
    id_assessment integer(10),
    assessment_type varchar(10),
    date float(7,1),
    weight float(7,1)
    );

'''   
execute_command(connection,Q)

In [52]:
for i in range(len(dg)):
    inputt2 = '''
        INSERT INTO assessments 
        (code_module, code_presentation, id_assessment, assessment_type, date, weight)
        VALUES ('{}','{}',{},'{}', {}, {})
'''.format(dg['code_module'][i], dg['code_presentation'][i], dg['id_assessment'][i], dg['assessment_type'][i] , dg['date'][i], dg['weight'][i])
    execute_command(connection,inputt2)

In [53]:
Q ='''
Create Table studentInfo(
    code_module varchar(10),
    code_presentation varchar(15),
    id_student integer(10),
    gender varchar(2),
    region varchar(50),
    highest_education varchar(50),
    imd_band varchar(30),
    age_band varchar(50),
    num_of_prev_attempts integer(10),
    studied_credits integer(10),
    disability varchar(20),
    final_result varchar(20)
    );
'''   
execute_command(connection,Q)

In [54]:
for i in range(len(dh)):
    inputt3 = '''
        INSERT INTO studentInfo
        (code_module, code_presentation, id_student, gender, region, highest_education, imd_band, age_band, num_of_prev_attempts, studied_credits, disability, final_result)
        VALUES ('{}','{}', {}, '{}', '{}', '{}', '{}', '{}', {} ,{}, '{}','{}')
'''.format(dh['code_module'][i], dh['code_presentation'][i] , dh['id_student'][i],dh['gender'][i], dh['region'][i] , dh['highest_education'][i],dh['imd_band'][i], dh['age_band'][i] , dh['num_of_prev_attempts'][i],dh['studied_credits'][i], dh['disability'][i], dh['final_result'][i])
    execute_command(connection,inputt3)

In [55]:
Q ='''
Create Table studentAssessment(
    id_assessment integer(10),
    id_student integer(10),
    date_submitted integer(10),
    is_banked float(7,1),
    score integer(10)
    );
'''   
execute_command(connection,Q)

In [56]:
for i in range(len(di)):
    inputt4 = '''
        INSERT INTO studentAssessment
        (id_assessment, id_student, date_submitted, is_banked, score)
        VALUES ({},{},{},{},{})
'''.format(di['id_assessment'][i], di['id_student'][i] , di['date_submitted'][i],di['is_banked'][i], di['score'][i])
    execute_command(connection,inputt4)

In [57]:
Q ='''
Create Table studentRegistration(
    code_module varchar(10),
    code_presentation varchar(10),
    id_student integer(10),
    date_registration float(7,1),
    date_unregistration float(7,1)
    );

'''   
execute_command(connection,Q)

In [58]:
for i in range(len(dj)):
    inputt5 ='''
        INSERT INTO studentRegistration
        (code_module, code_presentation, id_student, date_registration, date_unregistration)   
        VALUES('{}','{}', {}, {}, {})
'''.format(dj['code_module'][i], dj['code_presentation'][i] , dj['id_student'][i], dj['date_registration'][i], dj['date_unregistration'][i])
    execute_command(connection,inputt5)

In [59]:
Q ='''
Create Table vle(
    id_site integer(20),
    code_module varchar(10),
    code_presentation varchar(10),
    activity_type varchar(20),
    week_from float(7,1),
    week_to float(7,1)
    );  

'''   
execute_command(connection,Q)

In [60]:
for i in range(len(dk)):
    inputt6 ='''
    INSERT INTO vle
    (id_site, code_module, code_presentation, activity_type, week_from, week_to)   
    VALUES ({},'{}','{}', '{}', {},{})
'''.format(dk['id_site'][i], dk['code_module'][i], dk['code_presentation'][i], dk['activity_type'][i], dk['week_from'][i], dk['week_to'][i])
    execute_command(connection,inputt6)

In [ ]:
kamu ='''
    SELECT studentAssessment.id_student, studentInfo.region, courses.code_module, assessments.assessment_type, studentAssessment.score 
    FROM studentAssessment 
    LEFT JOIN studentRegistration ON studentRegistration.id_student = studentAssessment.id_student 
    LEFT JOIN studentInfo ON studentRegistration.id_student = studentInfo.id_student 
    LEFT JOIN assessments ON assessments.id_assessment = studentAssessment.id_assessment
    LEFT JOIN vle ON vle.code_module = assessments.code_module
    LEFT JOIN courses ON courses.code_module = vle.code_module
    WHERE assessments.code_presentation = '2014B';
'''

select_query(connection, kamu)

MemoryError:

In [ ]:
pd.read_sql_query(query, connection)